body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
	font-size: 18px;
}


.contenedor {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}
 
/* Cambia el tamaño del texto en pantallas pequeñas */
@media screen and (max-width: 1000px) {
    body::before {
        content: "Modo móvil activo";
        display: block;
        color: red;
        font-size: 20px;
        text-align: center;
    }
}

h1 {
    color: darkred;
    text-align: left;
}
P {
	color: green;
	text-align: left;
	font-size: 20px;
}
a {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
}